In [72]:
#Importing the Libraries
from sklearn.datasets import make_classification
from sklearn.datasets import make_classification
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.layers import LeakyReLU
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import BatchNormalization
from tensorflow.keras.activations import sigmoid
from tensorflow.keras.models import load_model
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix
import pandas as pd
import numpy as np
import io

In [38]:
# data_csv = pd.read_csv('./NSL-KDD/KDDTrain+_20Percent.csv')
from google.colab import files
uploaded = files.upload()

Saving KDDTrain+.csv to KDDTrain+ (1).csv

In [39]:
feature=["duration","protocol_type","service","flag","src_bytes","dst_bytes","land","wrong_fragment","urgent","hot",
          "num_failed_logins","logged_in","num_compromised","root_shell","su_attempted","num_root","num_file_creations","num_shells",
          "num_access_files","num_outbound_cmds","is_host_login","is_guest_login","count","srv_count","serror_rate","srv_serror_rate",
          "rerror_rate","srv_rerror_rate","same_srv_rate","diff_srv_rate","srv_diff_host_rate","dst_host_count","dst_host_srv_count", 
          "dst_host_same_srv_rate","dst_host_diff_srv_rate","dst_host_same_src_port_rate","dst_host_srv_diff_host_rate","dst_host_serror_rate",
          "dst_host_srv_serror_rate","dst_host_rerror_rate","dst_host_srv_rerror_rate","label","difficulty"]
# df = pd.read_csv(io.StringIO(uploaded['KDDTrain+_20Percent.csv'].decode('utf-8')), sep=",", names=feature)
df = pd.read_csv(io.StringIO(uploaded['KDDTrain+.csv'].decode('utf-8')), sep=",", names=feature)
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (0,1,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,label,difficulty
0,id,'duration','protocol_type','service','flag','src_bytes','dst_bytes','land','wrong_fragment','urgent',...,'dst_host_srv_count','dst_host_same_srv_rate','dst_host_diff_srv_rate','dst_host_same_src_port_rate','dst_host_srv_diff_host_rate','dst_host_serror_rate','dst_host_srv_serror_rate','dst_host_rerror_rate','dst_host_srv_rerror_rate','class'
1,1,0,tcp,ftp_data,SF,491,0,0,0,0,...,25,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal
2,2,0,udp,other,SF,146,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal
3,3,0,tcp,private,S0,0,0,0,0,0,...,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,anomaly
4,4,0,tcp,http,SF,232,8153,0,0,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125969,125969,0,tcp,private,S0,0,0,0,0,0,...,25,0.1,0.06,0.0,0.0,1.0,1.0,0.0,0.0,anomaly
125970,125970,8,udp,private,SF,105,145,0,0,0,...,244,0.96,0.01,0.01,0.0,0.0,0.0,0.0,0.0,normal
125971,125971,0,tcp,smtp,SF,2231,384,0,0,0,...,30,0.12,0.06,0.0,0.0,0.72,0.0,0.01,0.0,normal
125972,125972,0,tcp,klogin,S0,0,0,0,0,0,...,8,0.03,0.05,0.0,0.0,1.0,1.0,0.0,0.0,anomaly
125973,125973,0,tcp,ftp_data,SF,151,0,0,0,0,...,77,0.3,0.03,0.3,0.0,0.0,0.0,0.0,0.0,normal

In [40]:
df = df.drop(0)
df = df.reset_index(drop=True)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125973 entries, 0 to 125972
Data columns (total 43 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   duration                     125973 non-null  object
 1   protocol_type                125973 non-null  object
 2   service                      125973 non-null  object
 3   flag                         125973 non-null  object
 4   src_bytes                    125973 non-null  object
 5   dst_bytes                    125973 non-null  object
 6   land                         125973 non-null  object
 7   wrong_fragment               125973 non-null  object
 8   urgent                       125973 non-null  object
 9   hot                          125973 non-null  object
 10  num_failed_logins            125973 non-null  object
 11  logged_in                    125973 non-null  object
 12  num_compromised              125973 non-null  object
 13  root_shell                   125973 non-null  object
 14  su_attempted                 125973 non-null  object
 15  num_root                     125973 non-null  object
 16  num_file_creations           125973 non-null  object
 17  num_shells                   125973 non-null  object
 18  num_access_files             125973 non-null  object
 19  num_outbound_cmds            125973 non-null  object
 20  is_host_login                125973 non-null  object
 21  is_guest_login               125973 non-null  object
 22  count                        125973 non-null  object
 23  srv_count                    125973 non-null  object
 24  serror_rate                  125973 non-null  object
 25  srv_serror_rate              125973 non-null  object
 26  rerror_rate                  125973 non-null  object
 27  srv_rerror_rate              125973 non-null  object
 28  same_srv_rate                125973 non-null  object
 29  diff_srv_rate                125973 non-null  object
 30  srv_diff_host_rate           125973 non-null  object
 31  dst_host_count               125973 non-null  object
 32  dst_host_srv_count           125973 non-null  object
 33  dst_host_same_srv_rate       125973 non-null  object
 34  dst_host_diff_srv_rate       125973 non-null  object
 35  dst_host_same_src_port_rate  125973 non-null  object
 36  dst_host_srv_diff_host_rate  125973 non-null  object
 37  dst_host_serror_rate         125973 non-null  object
 38  dst_host_srv_serror_rate     125973 non-null  object
 39  dst_host_rerror_rate         125973 non-null  object
 40  dst_host_srv_rerror_rate     125973 non-null  object
 41  label                        125973 non-null  object
 42  difficulty                   125973 non-null  object
dtypes: object(43)
memory usage: 41.3+ MB

In [42]:
df.describe().T

                                count  unique     top     freq
duration                       125973  125973       1        1
protocol_type                  125973    3137       0   100888
service                        125973       3     tcp   102689
flag                           125973      70    http    40338
src_bytes                      125973      11      SF    74945
dst_bytes                      125973    4496       0    42912
land                           125973   11716       0    59095
wrong_fragment                 125973       4       0   109567
urgent                         125973       6       0   108641
hot                            125973       6       0   109582
num_failed_logins              125973      47       0   107260
logged_in                      125973      10       0   109481
num_compromised                125973       4       0    66176
root_shell                     125973     101       0   108473
su_attempted                   125973       4       0   109447
num_root                       125973       6       0   109521
num_file_creations             125973      91       0   109025
num_shells                     125973      47       0   109344
num_access_files               125973       5       0   109550
num_outbound_cmds              125973      15       0   109271
is_host_login                  125973       2       0   109590
is_guest_login                 125973       3       0   109589
count                          125973       4       0   108568
srv_count                      125973     950       1    24170
serror_rate                    125973     892       1    22103
srv_serror_rate              125973.0   152.0     0.0  75604.0
rerror_rate                  125973.0   130.0     0.0  77289.0
srv_rerror_rate              125973.0   148.0     0.0  95499.0
same_srv_rate                125973.0   100.0     0.0  95495.0
diff_srv_rate                125973.0   193.0     1.0  66893.0
srv_diff_host_rate           125973.0   163.0     0.0  66372.0
dst_host_count               125973.0   114.0     0.0  84901.0
dst_host_srv_count             125973     512     255    64394
dst_host_same_srv_rate         125973     512     255    31376
dst_host_diff_srv_rate       125973.0   202.0     1.0  42772.0
dst_host_same_src_port_rate  125973.0   202.0     0.0  40963.0
dst_host_srv_diff_host_rate  125973.0   202.0     0.0  54729.0
dst_host_serror_rate         125973.0   135.0     0.0  75550.0
dst_host_srv_serror_rate     125973.0   198.0     0.0  70851.0
dst_host_rerror_rate         125973.0   176.0     0.0  74340.0
dst_host_srv_rerror_rate     125973.0   202.0     0.0  89723.0
label                        125973.0   195.0     0.0  92733.0
difficulty                     125973       2  normal    67343

In [43]:
df.shape

(125973, 43)

In [44]:
df.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,label,difficulty
0,1,0,tcp,ftp_data,SF,491,0,0,0,0,...,25,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal
1,2,0,udp,other,SF,146,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal
2,3,0,tcp,private,S0,0,0,0,0,0,...,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,anomaly
3,4,0,tcp,http,SF,232,8153,0,0,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal
4,5,0,tcp,http,SF,199,420,0,0,0,...,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal

In [45]:
X_train = df.iloc[:, 1:41]
X_train

,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,...,dst_host_count,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,0.00,150,25,0.17,0.03,0.17,0.00,0.00,0.00,0.05
1,0,udp,other,SF,146,0,0,0,0,0,...,0.00,255,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00
2,0,tcp,private,S0,0,0,0,0,0,0,...,0.00,255,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00
3,0,tcp,http,SF,232,8153,0,0,0,0,...,0.00,30,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00
4,0,tcp,http,SF,199,420,0,0,0,0,...,0.09,255,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125968,0,tcp,private,S0,0,0,0,0,0,0,...,0.0,255,25,0.1,0.06,0.0,0.0,1.0,1.0,0.0
125969,8,udp,private,SF,105,145,0,0,0,0,...,0.0,255,244,0.96,0.01,0.01,0.0,0.0,0.0,0.0
125970,0,tcp,smtp,SF,2231,384,0,0,0,0,...,0.0,255,30,0.12,0.06,0.0,0.0,0.72,0.0,0.01
125971,0,tcp,klogin,S0,0,0,0,0,0,0,...,0.0,255,8,0.03,0.05,0.0,0.0,1.0,1.0,0.0
125972,0,tcp,ftp_data,SF,151,0,0,0,0,0,...,0.0,255,77,0.3,0.03,0.3,0.0,0.0,0.0,0.0

In [46]:
X_train.columns

Index(['protocol_type', 'service', 'flag', 'src_bytes', 'dst_bytes', 'land',
       'wrong_fragment', 'urgent', 'hot', 'num_failed_logins', 'logged_in',
       'num_compromised', 'root_shell', 'su_attempted', 'num_root',
       'num_file_creations', 'num_shells', 'num_access_files',
       'num_outbound_cmds', 'is_host_login', 'is_guest_login', 'count',
       'srv_count', 'serror_rate', 'srv_serror_rate', 'rerror_rate',
       'srv_rerror_rate', 'same_srv_rate', 'diff_srv_rate',
       'srv_diff_host_rate', 'dst_host_count', 'dst_host_srv_count',
       'dst_host_same_srv_rate', 'dst_host_diff_srv_rate',
       'dst_host_same_src_port_rate', 'dst_host_srv_diff_host_rate',
       'dst_host_serror_rate', 'dst_host_srv_serror_rate',
       'dst_host_rerror_rate', 'dst_host_srv_rerror_rate'],
      dtype='object')

In [47]:
# Label Encoding the data in all the features
print(X_train['service'].unique())
print(X_train['flag'].unique())
print(X_train['src_bytes'].unique())

le = LabelEncoder()
le.fit(X_train['service'])
X_train['service'] = le.transform(X_train['service'])

le = LabelEncoder()
le.fit(X_train['flag'])
X_train['flag'] = le.transform(X_train['flag'])

le = LabelEncoder()
le.fit(X_train['src_bytes'])
X_train['src_bytes'] = le.transform(X_train['src_bytes'])

['tcp' 'udp' 'icmp']
['ftp_data' 'other' 'private' 'http' 'remote_job' 'name' 'netbios_ns'
 'eco_i' 'mtp' 'telnet' 'finger' 'domain_u' 'supdup' 'uucp_path' 'Z39_50'
 'smtp' 'csnet_ns' 'uucp' 'netbios_dgm' 'urp_i' 'auth' 'domain' 'ftp'
 'bgp' 'ldap' 'ecr_i' 'gopher' 'vmnet' 'systat' 'http_443' 'efs' 'whois'
 'imap4' 'iso_tsap' 'echo' 'klogin' 'link' 'sunrpc' 'login' 'kshell'
 'sql_net' 'time' 'hostnames' 'exec' 'ntp_u' 'discard' 'nntp' 'courier'
 'ctf' 'ssh' 'daytime' 'shell' 'netstat' 'pop_3' 'nnsp' 'IRC' 'pop_2'
 'printer' 'tim_i' 'pm_dump' 'red_i' 'netbios_ssn' 'rje' 'X11' 'urh_i'
 'http_8001' 'aol' 'http_2784' 'tftp_u' 'harvest']
['SF' 'S0' 'REJ' 'RSTR' 'SH' 'RSTO' 'S1' 'RSTOS0' 'S3' 'S2' 'OTH']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [48]:
# # Label Encoding the data in all the features
# from sklearn.compose import make_column_transformer
# from sklearn.preprocessing import RobustScaler
# from sklearn.preprocessing import LabelEncoder
# from sklearn.preprocessing import OneHotEncoder

# categorical_columns = ['service', 'flag', 'src_bytes']
# numerical_columns = ['protocol_type', 'dst_bytes', 'land', 'wrong_fragment', 'urgent', 'hot', 'num_failed_logins', 'logged_in', 'num_compromised', 'root_shell', 'su_attempted'
# , 'num_root', 'num_file_creations', 'num_shells', 'num_access_files', 'num_outbound_cmds', 'is_host_login', 'is_guest_login', 'count', 'srv_count', 'serror_rate','srv_serror_rate', 'same_srv_rate',
# 'diff_srv_rate', 'srv_diff_host_rate', 'dst_host_count', 'dst_host_srv_count', 'dst_host_same_srv_rate', 'dst_host_diff_srv_rate', 'dst_host_same_src_port_rate', 'dst_host_srv_diff_host_rate',
# 'dst_host_serror_rate','dst_host_srv_serror_rate', 'dst_host_rerror_rate', 'dst_host_srv_rerror_rate']

# column_trans = make_column_transformer(
#     [
#      (categorical_columns, OneHotEncoder(dtype='int')),
#       (numerical_columns, RobustScaler())
#     ], remainder='drop')

# column_trans.fit_transform(X_train)
X_train.head()

,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,...,dst_host_count,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate
0,0,1,20,9,491,0,0,0,0,0,...,0.00,150,25,0.17,0.03,0.17,0.00,0.00,0.00,0.05
1,0,2,44,9,146,0,0,0,0,0,...,0.00,255,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00
2,0,1,49,5,0,0,0,0,0,0,...,0.00,255,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00
3,0,1,24,9,232,8153,0,0,0,0,...,0.00,30,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00
4,0,1,24,9,199,420,0,0,0,0,...,0.09,255,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00

In [49]:
Y_train = df.iloc[:,42:]
Y_train

       difficulty
0          normal
1          normal
2         anomaly
3          normal
4          normal
...           ...
125968    anomaly
125969     normal
125970     normal
125971    anomaly
125972     normal

[125973 rows x 1 columns]

In [50]:
le = LabelEncoder()
Y_train = le.fit_transform(Y_train)
Y_train

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([1, 1, 0, ..., 1, 0, 1])

In [51]:
X_train.shape, Y_train.shape

((125973, 40), (125973,))

In [52]:
#Loading Testing data
from google.colab import files
uploaded = files.upload()

Saving KDDTest+.csv to KDDTest+ (1).csv

In [53]:
feature=["duration","protocol_type","service","flag","src_bytes","dst_bytes","land","wrong_fragment","urgent","hot",
          "num_failed_logins","logged_in","num_compromised","root_shell","su_attempted","num_root","num_file_creations","num_shells",
          "num_access_files","num_outbound_cmds","is_host_login","is_guest_login","count","srv_count","serror_rate","srv_serror_rate",
          "rerror_rate","srv_rerror_rate","same_srv_rate","diff_srv_rate","srv_diff_host_rate","dst_host_count","dst_host_srv_count", 
          "dst_host_same_srv_rate","dst_host_diff_srv_rate","dst_host_same_src_port_rate","dst_host_srv_diff_host_rate","dst_host_serror_rate",
          "dst_host_srv_serror_rate","dst_host_rerror_rate","dst_host_srv_rerror_rate","label","difficulty"]
# df = pd.read_csv(io.StringIO(uploaded['KDDTrain+_20Percent.csv'].decode('utf-8')), sep=",", names=feature)
df = pd.read_csv(io.StringIO(uploaded['KDDTest+.csv'].decode('utf-8')), sep=",", names=feature)
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (0,1,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,label,difficulty
0,id,'duration','protocol_type','service','flag','src_bytes','dst_bytes','land','wrong_fragment','urgent',...,'dst_host_srv_count','dst_host_same_srv_rate','dst_host_diff_srv_rate','dst_host_same_src_port_rate','dst_host_srv_diff_host_rate','dst_host_serror_rate','dst_host_srv_serror_rate','dst_host_rerror_rate','dst_host_srv_rerror_rate','class'
1,1,0,tcp,private,REJ,0,0,0,0,0,...,10,0.04,0.06,0.00,0.00,0.00,0.00,1.00,1.00,anomaly
2,2,0,tcp,private,REJ,0,0,0,0,0,...,1,0.00,0.06,0.00,0.00,0.00,0.00,1.00,1.00,anomaly
3,3,2,tcp,ftp_data,SF,12983,0,0,0,0,...,86,0.61,0.04,0.61,0.02,0.00,0.00,0.00,0.00,normal
4,4,0,icmp,eco_i,SF,20,0,0,0,0,...,57,1.00,0.00,1.00,0.28,0.00,0.00,0.00,0.00,anomaly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22540,22540,0,tcp,smtp,SF,794,333,0,0,0,...,141,0.72,0.06,0.01,0.01,0.01,0.0,0.0,0.0,normal
22541,22541,0,tcp,http,SF,317,938,0,0,0,...,255,1.0,0.0,0.01,0.01,0.01,0.0,0.0,0.0,normal
22542,22542,0,tcp,http,SF,54540,8314,0,0,0,...,255,1.0,0.0,0.0,0.0,0.0,0.0,0.07,0.07,anomaly
22543,22543,0,udp,domain_u,SF,42,42,0,0,0,...,252,0.99,0.01,0.0,0.0,0.0,0.0,0.0,0.0,normal
22544,22544,0,tcp,sunrpc,REJ,0,0,0,0,0,...,21,0.08,0.03,0.0,0.0,0.0,0.0,0.44,1.0,anomaly

In [54]:
df = df.drop(0)
df = df.reset_index(drop=True)

In [55]:
X_test = df.iloc[:, 1:41]
X_test

,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,...,dst_host_count,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate
0,0,tcp,private,REJ,0,0,0,0,0,0,...,0.00,255,10,0.04,0.06,0.00,0.00,0.00,0.00,1.00
1,0,tcp,private,REJ,0,0,0,0,0,0,...,0.00,255,1,0.00,0.06,0.00,0.00,0.00,0.00,1.00
2,2,tcp,ftp_data,SF,12983,0,0,0,0,0,...,0.00,134,86,0.61,0.04,0.61,0.02,0.00,0.00,0.00
3,0,icmp,eco_i,SF,20,0,0,0,0,0,...,1.00,3,57,1.00,0.00,1.00,0.28,0.00,0.00,0.00
4,1,tcp,telnet,RSTO,0,15,0,0,0,0,...,0.75,29,86,0.31,0.17,0.03,0.02,0.00,0.00,0.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22539,0,tcp,smtp,SF,794,333,0,0,0,0,...,0.0,100,141,0.72,0.06,0.01,0.01,0.01,0.0,0.0
22540,0,tcp,http,SF,317,938,0,0,0,0,...,0.18,197,255,1.0,0.0,0.01,0.01,0.01,0.0,0.0
22541,0,tcp,http,SF,54540,8314,0,0,0,2,...,0.2,255,255,1.0,0.0,0.0,0.0,0.0,0.0,0.07
22542,0,udp,domain_u,SF,42,42,0,0,0,0,...,0.33,255,252,0.99,0.01,0.0,0.0,0.0,0.0,0.0
22543,0,tcp,sunrpc,REJ,0,0,0,0,0,0,...,1.0,255,21,0.08,0.03,0.0,0.0,0.0,0.0,0.44

In [56]:
# Label Encoding the data in all the features
print(X_test['service'].unique())
print(X_test['flag'].unique())
print(X_test['src_bytes'].unique())

le = LabelEncoder()
le.fit(X_test['service'])
X_test['service'] = le.transform(X_test['service'])

le = LabelEncoder()
le.fit(X_test['flag'])
X_test['flag'] = le.transform(X_test['flag'])

le = LabelEncoder()
le.fit(X_test['src_bytes'])
X_test['src_bytes'] = le.transform(X_test['src_bytes'])

['tcp' 'icmp' 'udp']
['private' 'ftp_data' 'eco_i' 'telnet' 'http' 'smtp' 'ftp' 'ldap' 'pop_3'
 'courier' 'discard' 'ecr_i' 'imap4' 'domain_u' 'mtp' 'systat' 'iso_tsap'
 'other' 'csnet_ns' 'finger' 'uucp' 'whois' 'netbios_ns' 'link' 'Z39_50'
 'sunrpc' 'auth' 'netbios_dgm' 'uucp_path' 'vmnet' 'domain' 'name' 'pop_2'
 'http_443' 'urp_i' 'login' 'gopher' 'exec' 'time' 'remote_job' 'ssh'
 'kshell' 'sql_net' 'shell' 'hostnames' 'echo' 'daytime' 'pm_dump' 'IRC'
 'netstat' 'ctf' 'nntp' 'netbios_ssn' 'tim_i' 'supdup' 'bgp' 'nnsp' 'rje'
 'printer' 'efs' 'X11' 'ntp_u' 'klogin' 'tftp_u']
['REJ' 'SF' 'RSTO' 'S0' 'RSTR' 'SH' 'S3' 'S2' 'S1' 'RSTOS0' 'OTH']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [57]:
X_test.head()

,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,...,dst_host_count,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate
0,0,1,45,1,0,0,0,0,0,0,...,0.00,255,10,0.04,0.06,0.00,0.00,0.00,0.00,1.00
1,0,1,45,1,0,0,0,0,0,0,...,0.00,255,1,0.00,0.06,0.00,0.00,0.00,0.00,1.00
2,2,1,19,9,12983,0,0,0,0,0,...,0.00,134,86,0.61,0.04,0.61,0.02,0.00,0.00,0.00
3,0,0,13,9,20,0,0,0,0,0,...,1.00,3,57,1.00,0.00,1.00,0.28,0.00,0.00,0.00
4,1,1,55,2,0,15,0,0,0,0,...,0.75,29,86,0.31,0.17,0.03,0.02,0.00,0.00,0.83

In [58]:
Y_test = df.iloc[:,42:]
le = LabelEncoder()
Y_test = le.fit_transform(Y_test)
Y_test

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0, 0, 1, ..., 0, 1, 0])

In [59]:
X_test.shape, Y_test.shape

((22544, 40), (22544,))

In [60]:
# AutoEncoder Model Preparation
n_inputs = X_train.shape[1]
# define encoder
input_data_shape= Input(shape=(n_inputs,))
# encoder 1 level 1
encoder= Dense(14)(input_data_shape)
encoder = BatchNormalization()(encoder)
# encoder= LeakyReLU()(encoder)
encoder= sigmoid(encoder)

# encoder 1 level 2
encoder= Dense(28)(encoder)
encoder= BatchNormalization()(encoder)
# encoder= LeakyReLU()(encoder)
encoder= sigmoid(encoder)

# encoder 1 level 3
encoder= Dense(28)(encoder)
encoder= BatchNormalization()(encoder)
# encoder= LeakyReLU()(encoder)
encoder= sigmoid(encoder)

# encoder 2 level 1
encoder= Dense(14)(encoder)
encoder = BatchNormalization()(encoder)
# encoder= LeakyReLU()(encoder)
encoder= sigmoid(encoder)

# encoder 2 level 2
encoder= Dense(28)(encoder)
encoder= BatchNormalization()(encoder)
# encoder= LeakyReLU()(encoder)
encoder= sigmoid(encoder)

# encoder 2 level 3
encoder= Dense(28)(encoder)
encoder= BatchNormalization()(encoder)
# encoder= LeakyReLU()(encoder)
encoder= sigmoid(encoder)


# bottleneck
n_bottleneck = round(float(n_inputs) / 2.0)
bottleneck = Dense(n_bottleneck)(encoder)

# define decoder 1 level 1
decoder = Dense(28)(bottleneck)
decoder = BatchNormalization()(decoder)
decoder = sigmoid(decoder)
# define decoder 1 level 2
decoder = Dense(28)(decoder)
decoder = BatchNormalization()(decoder)
decoder = sigmoid(decoder)
# decoder 1 level 3
decoder = Dense(14)(decoder)
decoder = BatchNormalization()(decoder)
decoder = sigmoid(decoder)

# define decoder 2 level 1
decoder = Dense(28)(decoder)
decoder = BatchNormalization()(decoder)
decoder = sigmoid(decoder)
# define decoder 2 level 2
decoder = Dense(28)(decoder)
decoder = BatchNormalization()(decoder)
decoder = sigmoid(decoder)
# decoder 2 level 3
decoder = Dense(14)(decoder)
decoder = BatchNormalization()(decoder)
decoder = sigmoid(decoder)

In [61]:
# output layer
output = Dense(n_inputs, activation='linear')(decoder)
# define autoencoder model
model = Model(inputs=input_data_shape, outputs=output)
# compile autoencoder model
model.compile(optimizer='adam', loss='mse')

In [62]:
model.summary()

Model: "model_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_2 (InputLayer)        [(None, 40)]              0

 dense_14 (Dense)            (None, 14)                574

 batch_normalization_12 (Bat  (None, 14)               56
 chNormalization)

 tf.math.sigmoid_12 (TFOpLam  (None, 14)               0
 bda)

 dense_15 (Dense)            (None, 28)                420

 batch_normalization_13 (Bat  (None, 28)               112
 chNormalization)

 tf.math.sigmoid_13 (TFOpLam  (None, 28)               0
 bda)

 dense_16 (Dense)            (None, 28)                812

 batch_normalization_14 (Bat  (None, 28)               112
 chNormalization)

 tf.math.sigmoid_14 (TFOpLam  (None, 28)               0
 bda)

 dense_17 (Dense)            (None, 14)                406

 batch_normalization_15 (Bat  (None, 14)               56
 chNormalization)

 tf.math.sigmoid_15 (TFOpLam  (None, 14)               0
 bda)

 dense_18 (Dense)            (None, 28)                420

 batch_normalization_16 (Bat  (None, 28)               112
 chNormalization)

 tf.math.sigmoid_16 (TFOpLam  (None, 28)               0
 bda)

 dense_19 (Dense)            (None, 28)                812

 batch_normalization_17 (Bat  (None, 28)               112
 chNormalization)

 tf.math.sigmoid_17 (TFOpLam  (None, 28)               0
 bda)

 dense_20 (Dense)            (None, 20)                580

 dense_21 (Dense)            (None, 28)                588

 batch_normalization_18 (Bat  (None, 28)               112
 chNormalization)

 tf.math.sigmoid_18 (TFOpLam  (None, 28)               0
 bda)

 dense_22 (Dense)            (None, 28)                812

 batch_normalization_19 (Bat  (None, 28)               112
 chNormalization)

 tf.math.sigmoid_19 (TFOpLam  (None, 28)               0
 bda)

 dense_23 (Dense)            (None, 14)                406

 batch_normalization_20 (Bat  (None, 14)               56
 chNormalization)

 tf.math.sigmoid_20 (TFOpLam  (None, 14)               0
 bda)

 dense_24 (Dense)            (None, 28)                420

 batch_normalization_21 (Bat  (None, 28)               112
 chNormalization)

 tf.math.sigmoid_21 (TFOpLam  (None, 28)               0
 bda)

 dense_25 (Dense)            (None, 28)                812

 batch_normalization_22 (Bat  (None, 28)               112
 chNormalization)

 tf.math.sigmoid_22 (TFOpLam  (None, 28)               0
 bda)

 dense_26 (Dense)            (None, 14)                406

 batch_normalization_23 (Bat  (None, 14)               56
 chNormalization)

 tf.math.sigmoid_23 (TFOpLam  (None, 14)               0
 bda)

 dense_27 (Dense)            (None, 40)                600

=================================================================
Total params: 9,188
Trainable params: 8,628
Non-trainable params: 560
_________________________________________________________________

In [63]:
Y_train = np.asarray(Y_train).astype(np.float32)
Y_test = np.asarray(Y_test).astype(np.float32)
X_train = np.asarray(X_train).astype(np.float32)
X_test = np.asarray(X_test).astype(np.float32)

In [64]:
Y_train, Y_test, X_train, X_test

(array([1., 1., 0., ..., 1., 0., 1.], dtype=float32),
 array([0., 0., 1., ..., 0., 1., 0.], dtype=float32),
 array([[0.0e+00, 1.0e+00, 2.0e+01, ..., 0.0e+00, 0.0e+00, 5.0e-02],
        [0.0e+00, 2.0e+00, 4.4e+01, ..., 0.0e+00, 0.0e+00, 0.0e+00],
        [0.0e+00, 1.0e+00, 4.9e+01, ..., 1.0e+00, 1.0e+00, 0.0e+00],
        ...,
        [0.0e+00, 1.0e+00, 5.4e+01, ..., 7.2e-01, 0.0e+00, 1.0e-02],
        [0.0e+00, 1.0e+00, 3.0e+01, ..., 1.0e+00, 1.0e+00, 0.0e+00],
        [0.0e+00, 1.0e+00, 2.0e+01, ..., 0.0e+00, 0.0e+00, 0.0e+00]],
       dtype=float32),
 array([[ 0.  ,  1.  , 45.  , ...,  0.  ,  0.  ,  1.  ],
        [ 0.  ,  1.  , 45.  , ...,  0.  ,  0.  ,  1.  ],
        [ 2.  ,  1.  , 19.  , ...,  0.  ,  0.  ,  0.  ],
        ...,
        [ 0.  ,  1.  , 22.  , ...,  0.  ,  0.  ,  0.07],
        [ 0.  ,  2.  , 11.  , ...,  0.  ,  0.  ,  0.  ],
        [ 0.  ,  1.  , 52.  , ...,  0.  ,  0.  ,  0.44]], dtype=float32))

In [67]:
# fit the autoencoder model to reconstruct input
# history = model.fit(X_train, Y_train, epochs=100, batch_size=16, verbose=2, validation_data=(X_test,Y_test))

Epoch 1/100
7874/7874 - 30s - loss: 0.0111 - val_loss: 0.5783 - 30s/epoch - 4ms/step
Epoch 2/100
7874/7874 - 30s - loss: 0.0118 - val_loss: 0.5510 - 30s/epoch - 4ms/step
Epoch 3/100
7874/7874 - 30s - loss: 0.0117 - val_loss: 0.3299 - 30s/epoch - 4ms/step
Epoch 4/100
7874/7874 - 32s - loss: 0.0116 - val_loss: 0.5620 - 32s/epoch - 4ms/step
Epoch 5/100
7874/7874 - 32s - loss: 0.0110 - val_loss: 0.5926 - 32s/epoch - 4ms/step
Epoch 6/100
7874/7874 - 32s - loss: 0.0102 - val_loss: 0.5615 - 32s/epoch - 4ms/step
Epoch 7/100
7874/7874 - 32s - loss: 0.0107 - val_loss: 0.4951 - 32s/epoch - 4ms/step
Epoch 8/100
7874/7874 - 31s - loss: 0.0103 - val_loss: 0.4896 - 31s/epoch - 4ms/step
Epoch 9/100
7874/7874 - 30s - loss: 0.0098 - val_loss: 0.5815 - 30s/epoch - 4ms/step
Epoch 10/100
7874/7874 - 31s - loss: 0.0098 - val_loss: 0.5761 - 31s/epoch - 4ms/step
Epoch 11/100
7874/7874 - 30s - loss: 0.0101 - val_loss: 0.5311 - 30s/epoch - 4ms/step
Epoch 12/100
7874/7874 - 31s - loss: 0.0109 - val_loss: 0.5787 - 31s/epoch - 4ms/step
Epoch 13/100
7874/7874 - 31s - loss: 0.0096 - val_loss: 0.5542 - 31s/epoch - 4ms/step
Epoch 14/100
7874/7874 - 30s - loss: 0.0097 - val_loss: 0.5678 - 30s/epoch - 4ms/step
Epoch 15/100
7874/7874 - 31s - loss: 0.0095 - val_loss: 0.5664 - 31s/epoch - 4ms/step
Epoch 16/100
7874/7874 - 30s - loss: 0.0095 - val_loss: 0.4612 - 30s/epoch - 4ms/step
Epoch 17/100
7874/7874 - 31s - loss: 0.0098 - val_loss: 0.5591 - 31s/epoch - 4ms/step
Epoch 18/100
7874/7874 - 31s - loss: 0.0088 - val_loss: 0.5449 - 31s/epoch - 4ms/step
Epoch 19/100
7874/7874 - 31s - loss: 0.0093 - val_loss: 0.5289 - 31s/epoch - 4ms/step
Epoch 20/100
7874/7874 - 31s - loss: 0.0089 - val_loss: 0.5364 - 31s/epoch - 4ms/step
Epoch 21/100
7874/7874 - 31s - loss: 0.0088 - val_loss: 0.5681 - 31s/epoch - 4ms/step
Epoch 22/100
7874/7874 - 31s - loss: 0.0090 - val_loss: 0.5553 - 31s/epoch - 4ms/step
Epoch 23/100
7874/7874 - 30s - loss: 0.0088 - val_loss: 0.4440 - 30s/epoch - 4ms/step
Epoch 24/100
7874/7874 - 30s - loss: 0.0087 - val_loss: 0.5423 - 30s/epoch - 4ms/step
Epoch 25/100
7874/7874 - 31s - loss: 0.0086 - val_loss: 0.5335 - 31s/epoch - 4ms/step
Epoch 26/100
7874/7874 - 30s - loss: 0.0091 - val_loss: 0.4951 - 30s/epoch - 4ms/step
Epoch 27/100
7874/7874 - 30s - loss: 0.0085 - val_loss: 0.5450 - 30s/epoch - 4ms/step
Epoch 28/100
7874/7874 - 31s - loss: 0.0085 - val_loss: 0.5628 - 31s/epoch - 4ms/step
Epoch 29/100
7874/7874 - 31s - loss: 0.0085 - val_loss: 0.5511 - 31s/epoch - 4ms/step
Epoch 30/100
7874/7874 - 32s - loss: 0.0084 - val_loss: 0.5217 - 32s/epoch - 4ms/step
Epoch 31/100
7874/7874 - 31s - loss: 0.0083 - val_loss: 0.5495 - 31s/epoch - 4ms/step
Epoch 32/100
7874/7874 - 30s - loss: 0.0085 - val_loss: 0.5415 - 30s/epoch - 4ms/step
Epoch 33/100
7874/7874 - 30s - loss: 0.0085 - val_loss: 0.5179 - 30s/epoch - 4ms/step
Epoch 34/100
7874/7874 - 31s - loss: 0.0081 - val_loss: 0.5241 - 31s/epoch - 4ms/step
Epoch 35/100
7874/7874 - 30s - loss: 0.0090 - val_loss: 0.5636 - 30s/epoch - 4ms/step
Epoch 36/100
7874/7874 - 31s - loss: 0.0083 - val_loss: 0.5709 - 31s/epoch - 4ms/step
Epoch 37/100
7874/7874 - 30s - loss: 0.0081 - val_loss: 0.5722 - 30s/epoch - 4ms/step
Epoch 38/100
7874/7874 - 31s - loss: 0.0080 - val_loss: 0.5385 - 31s/epoch - 4ms/step
Epoch 39/100
7874/7874 - 31s - loss: 0.0088 - val_loss: 0.5677 - 31s/epoch - 4ms/step
Epoch 40/100
7874/7874 - 31s - loss: 0.0081 - val_loss: 0.5413 - 31s/epoch - 4ms/step
Epoch 41/100
7874/7874 - 31s - loss: 0.0085 - val_loss: 0.5766 - 31s/epoch - 4ms/step
Epoch 42/100
7874/7874 - 32s - loss: 0.0084 - val_loss: 0.5199 - 32s/epoch - 4ms/step
Epoch 43/100
7874/7874 - 31s - loss: 0.0078 - val_loss: 0.5661 - 31s/epoch - 4ms/step
Epoch 44/100
7874/7874 - 30s - loss: 0.0080 - val_loss: 0.5422 - 30s/epoch - 4ms/step
Epoch 45/100
7874/7874 - 32s - loss: 0.0088 - val_loss: 0.5359 - 32s/epoch - 4ms/step
Epoch 46/100
7874/7874 - 31s - loss: 0.0080 - val_loss: 0.5661 - 31s/epoch - 4ms/step
Epoch 47/100
7874/7874 - 31s - loss: 0.0079 - val_loss: 0.5293 - 31s/epoch - 4ms/step
Epoch 48/100
7874/7874 - 31s - loss: 0.0076 - val_loss: 0.5538 - 31s/epoch - 4ms/step
Epoch 49/100
7874/7874 - 31s - loss: 0.0091 - val_loss: 0.5628 - 31s/epoch - 4ms/step
Epoch 50/100
7874/7874 - 31s - loss: 0.0074 - val_loss: 0.5582 - 31s/epoch - 4ms/step
Epoch 51/100
7874/7874 - 31s - loss: 0.0077 - val_loss: 0.5627 - 31s/epoch - 4ms/step
Epoch 52/100
7874/7874 - 30s - loss: 0.0074 - val_loss: 0.5488 - 30s/epoch - 4ms/step
Epoch 53/100
7874/7874 - 31s - loss: 0.0072 - val_loss: 0.5580 - 31s/epoch - 4ms/step
Epoch 54/100
7874/7874 - 30s - loss: 0.0069 - val_loss: 0.5744 - 30s/epoch - 4ms/step
Epoch 55/100
7874/7874 - 30s - loss: 0.0072 - val_loss: 0.5590 - 30s/epoch - 4ms/step
Epoch 56/100
7874/7874 - 31s - loss: 0.0073 - val_loss: 0.5090 - 31s/epoch - 4ms/step
Epoch 57/100
7874/7874 - 31s - loss: 0.0078 - val_loss: 0.5547 - 31s/epoch - 4ms/step
Epoch 58/100
7874/7874 - 31s - loss: 0.0074 - val_loss: 0.5280 - 31s/epoch - 4ms/step
Epoch 59/100
7874/7874 - 31s - loss: 0.0072 - val_loss: 0.4852 - 31s/epoch - 4ms/step
Epoch 60/100
7874/7874 - 31s - loss: 0.0069 - val_loss: 0.5414 - 31s/epoch - 4ms/step
Epoch 61/100
7874/7874 - 30s - loss: 0.0072 - val_loss: 0.5575 - 30s/epoch - 4ms/step
Epoch 62/100
7874/7874 - 30s - loss: 0.0070 - val_loss: 0.5501 - 30s/epoch - 4ms/step
Epoch 63/100
7874/7874 - 30s - loss: 0.0080 - val_loss: 0.5039 - 30s/epoch - 4ms/step
Epoch 64/100
7874/7874 - 30s - loss: 0.0082 - val_loss: 0.5792 - 30s/epoch - 4ms/step
Epoch 65/100
7874/7874 - 31s - loss: 0.0075 - val_loss: 0.5470 - 31s/epoch - 4ms/step
Epoch 66/100
7874/7874 - 30s - loss: 0.0072 - val_loss: 0.4869 - 30s/epoch - 4ms/step
Epoch 67/100
7874/7874 - 31s - loss: 0.0071 - val_loss: 0.5476 - 31s/epoch - 4ms/step
Epoch 68/100
7874/7874 - 31s - loss: 0.0073 - val_loss: 0.5678 - 31s/epoch - 4ms/step
Epoch 69/100
7874/7874 - 31s - loss: 0.0076 - val_loss: 0.5571 - 31s/epoch - 4ms/step
Epoch 70/100
7874/7874 - 32s - loss: 0.0073 - val_loss: 0.5415 - 32s/epoch - 4ms/step
Epoch 71/100
7874/7874 - 30s - loss: 0.0073 - val_loss: 0.5246 - 30s/epoch - 4ms/step
Epoch 72/100
7874/7874 - 30s - loss: 0.0076 - val_loss: 0.4373 - 30s/epoch - 4ms/step
Epoch 73/100
7874/7874 - 30s - loss: 0.0072 - val_loss: 0.5717 - 30s/epoch - 4ms/step
Epoch 74/100
7874/7874 - 31s - loss: 0.0074 - val_loss: 0.5550 - 31s/epoch - 4ms/step
Epoch 75/100
7874/7874 - 31s - loss: 0.0068 - val_loss: 0.4704 - 31s/epoch - 4ms/step
Epoch 76/100
7874/7874 - 30s - loss: 0.0070 - val_loss: 0.5597 - 30s/epoch - 4ms/step
Epoch 77/100
7874/7874 - 30s - loss: 0.0068 - val_loss: 0.5505 - 30s/epoch - 4ms/step
Epoch 78/100
7874/7874 - 31s - loss: 0.0072 - val_loss: 0.4747 - 31s/epoch - 4ms/step
Epoch 79/100
7874/7874 - 31s - loss: 0.0070 - val_loss: 0.5417 - 31s/epoch - 4ms/step
Epoch 80/100
7874/7874 - 30s - loss: 0.0092 - val_loss: 0.4931 - 30s/epoch - 4ms/step
Epoch 81/100
7874/7874 - 31s - loss: 0.0084 - val_loss: 0.5756 - 31s/epoch - 4ms/step
Epoch 82/100
7874/7874 - 31s - loss: 0.0083 - val_loss: 0.5417 - 31s/epoch - 4ms/step
Epoch 83/100
7874/7874 - 31s - loss: 0.0074 - val_loss: 0.4105 - 31s/epoch - 4ms/step
Epoch 84/100
7874/7874 - 31s - loss: 0.0073 - val_loss: 0.5596 - 31s/epoch - 4ms/step
Epoch 85/100
7874/7874 - 30s - loss: 0.0076 - val_loss: 0.5543 - 30s/epoch - 4ms/step
Epoch 86/100
7874/7874 - 32s - loss: 0.0072 - val_loss: 0.5525 - 32s/epoch - 4ms/step
Epoch 87/100
7874/7874 - 32s - loss: 0.0072 - val_loss: 0.3353 - 32s/epoch - 4ms/step
Epoch 88/100
7874/7874 - 32s - loss: 0.0074 - val_loss: 0.5731 - 32s/epoch - 4ms/step
Epoch 89/100
7874/7874 - 31s - loss: 0.0069 - val_loss: 0.2634 - 31s/epoch - 4ms/step
Epoch 90/100
7874/7874 - 30s - loss: 0.0072 - val_loss: 0.5434 - 30s/epoch - 4ms/step
Epoch 91/100
7874/7874 - 31s - loss: 0.0069 - val_loss: 0.3851 - 31s/epoch - 4ms/step
Epoch 92/100
7874/7874 - 31s - loss: 0.0067 - val_loss: 0.5201 - 31s/epoch - 4ms/step
Epoch 93/100
7874/7874 - 30s - loss: 0.0070 - val_loss: 0.5646 - 30s/epoch - 4ms/step
Epoch 94/100
7874/7874 - 30s - loss: 0.0072 - val_loss: 0.5407 - 30s/epoch - 4ms/step
Epoch 95/100
7874/7874 - 30s - loss: 0.0073 - val_loss: 0.5212 - 30s/epoch - 4ms/step
Epoch 96/100
7874/7874 - 30s - loss: 0.0069 - val_loss: 0.4947 - 30s/epoch - 4ms/step
Epoch 97/100
7874/7874 - 30s - loss: 0.0067 - val_loss: 0.5438 - 30s/epoch - 4ms/step
Epoch 98/100
7874/7874 - 29s - loss: 0.0063 - val_loss: 0.4556 - 29s/epoch - 4ms/step
Epoch 99/100
7874/7874 - 30s - loss: 0.0066 - val_loss: 0.3401 - 30s/epoch - 4ms/step
Epoch 100/100
7874/7874 - 30s - loss: 0.0065 - val_loss: 0.3880 - 30s/epoch - 4ms/step

In [68]:
# define an encoder model (without the decoder)
encoder = Model(inputs=input_data_shape, outputs=bottleneck)
# save the encoder to file
encoder.save('encoder.h5')
from google.colab import files
files.download("encoder.h5")

WARNING:tensorflow:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [ ]:
#Load encoder file and use for random forest and check accuracy, compare with without the h5 file

In [69]:
#Building a Base Model to compare the performance after compressing the data using Encoder model.

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# define model
model = LogisticRegression()
# fit model on training set
model.fit(X_train, Y_train)
# make prediction on test set
yhat = model.predict(X_test)
# calculate accuracy
acc = accuracy_score(Y_test, yhat)
print("Logistic Regression accuracy",acc)

# define model
model = RandomForestClassifier()
# fit model on training set
model.fit(X_train, Y_train)
# make prediction on test set
yhat = model.predict(X_test)
# calculate accuracy
acc = accuracy_score(Y_test, yhat)
print("Random Forest accuracy",acc)

Logistic Regression accuracy 0.7103442157558553
Random Forest accuracy 0.7755056777856636

In [70]:
from google.colab import files
uploaded = files.upload()

Saving encoder.h5 to encoder (1).h5

In [71]:
#Compressing the input data using Encoder Model and fitting it on the Logistic Regression model.
# load the model from file
encoder = load_model('encoder.h5')

# encode the train data
X_train_encode = encoder.predict(X_train)
# encode the test data
X_test_encode = encoder.predict(X_test)
# define the model
model = LogisticRegression(max_iter=1000)
# fit the model on the training set
model.fit(X_train_encode, Y_train)
# make predictions on the test set
yhat = model.predict(X_test_encode)
# calculate classification accuracy
acc = accuracy_score(Y_test, yhat)
print("Logistic Regression accuracy after encoding",acc)

# define the model
model = RandomForestClassifier()
# fit the model on the training set
model.fit(X_train_encode, Y_train)
# make predictions on the test set
yhat = model.predict(X_test_encode)
# calculate classification accuracy
acc = accuracy_score(Y_test, yhat)
print("RandomForest Classifier accuracy after encoding",acc)

WARNING:tensorflow:No training configuration found in the save file, so the model was *not* compiled. Compile it manually.
Logistic Regression accuracy after encoding 0.43066891412349184
RandomForest Classifier accuracy after encoding 0.7802075940383251

In [76]:
# classification matrix
# Accuracy, Precision, Recall, False Alarm, F-score

tn, fp, fn, tp = confusion_matrix(Y_test, yhat).ravel()
tn, fp, fn, tp

(8142, 4691, 264, 9447)

In [80]:
from pandas.core.indexes.base import trim_front
accuracy_man = (tp+fn)/(tp+fn+fp+fn)
print(accuracy_man)

precision = tp/(tp+fp)
print(precision)

recall = fp/(tp+fn)
print(recall)

false_alarm  = fp/(tp+fn)
print(false_alarm)

f_score = 2*((precision*recall)/(precision+recall))
print(f_score)

0.662143733806082
0.6681991795161975
0.4830604469158686
0.4830604469158686
0.5607433577537305